body {
    background-color: #bbd9f5;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

main {
    width: 70%;
    margin: 30px auto;
    background-color: rgb(219, 240, 250);
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    text-align: center;
    background-color: #34495e;
    padding: 10px;
}


nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
}


h2 {
    text-align: left;
}


img {
    display: block;
    margin: 30px auto;
    width: 390px;
}

form {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 5px 10px;
}

